<!DOCTYPE html>
<html>
  <head>
    <title> {title} </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="manifest" href="manifest.json?appver=760">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="apple-touch-icon" sizes="180x180" href="app/templates/{template}/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="app/templates/{template}/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="app/templates/{template}/img/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    
    {LIBRARIES}
    {HEAD}
    
    <link href="app/lib/include/admin.min.css?appver=760" rel="stylesheet" type="text/css" media="screen">
    <link rel="stylesheet" href="app/templates/{template}/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="app/templates/{template}/css/skins/_all-skins.min.css">

    <script>
    $(function() {
        __adianti_set_name('{application}');
        __adianti_set_language('{lang}');
        __adianti_set_debug({debug});
    });
    </script>
  </head>
  <body>
    <div id="wrapper" style="width:90%;margin:auto;margin-top:10px">
      <div id="adianti_div_content"></div>
      <div id="adianti_online_content"></div>
      <div id="adianti_online_content2"></div>
    </div>
  </body>
</html>
